<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center text-success">Edit category</h2>
                <form action="/admin/edit-category/{{category._id}}" method="post" enctype="multipart/form-data">
              
                    <label>Category</label>
                    <input type="text" name="Name" class="form-control" value="{{category.Name}}">
                   
                    <button type="submit" class="btn btn-success mt-3">Save</button>
                </form>
            </div>
        </div>

    </div>
</section>
