

 
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid" >
                    <a class="navbar-brand" href="#">Admin Panel</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link "  aria-current="page" href="/admin" onclick="activelinkdd()">All Products</a>
                            </li>
                            
                             <li class="nav-item">
                                <a class="nav-link" href="/admin/user-list" onclick="activelinkdd()">All Users</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/admin/category-list">All categories</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="/admin/subcategory-list">Sub categories</a>
                            </li>
                             <li class="nav-item">
                                <a class="nav-link" href="/admin/order">Order</a>
                            </li>
                        </ul>
                        {{!-- <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>  --}}


                          <div class="dropdown mx-2">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                {{#if admin}}
                                    {{ admininfo.fname }}
                                    {{ admininfo.lname }}
                                {{else }}
                                    Account
                                {{/if}}
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    {{#if admin}}                                  
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                    {{else }}
                                         <a class="dropdown-item" href="/login">Login</a>
                                    {{/if}}
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

  