{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}
<section>
  <div class="text-center col-12 mt-5">
    <div class="container  center-div border w-25 py-5">
      <div class="title pb-4">
        <div class="">
          <h2>Sign-in</h2>
        </div>
        <span>Login for the exsiting user</span>
      </div>
      <form action="/login" method="post" enctype="application/x-www-form-urlencoded">
        <div class="form-group py-2">
          <input
            type="email"
            class="form-control"
            placeholder="Registered email"
            name="email"
          />
         
        </div>
        <div class="form-group py-2">
          <input
            type="password"
            class="form-control"
            placeholder="password"
            name="password"
          />
        </div>      
        <div class="form-group py-4">
            <button type="submit" class="btn btn-success btn-block  w-100">Submit</button>
        </div> 
        {{#if err_msg}}
        <div> <span>Enter The Correct Credential/Blocked</span></div>
       
         

        {{/if}} 
          <a href="/signup">Create an account here?</a>             
      </form>
    </div>
  </div>
</section>